.piece {
  border-top:8px solid antiquewhite;
  display:inline-block
}

#ita p {
  border-top:1px solid antiquewhite;
  margin-top:30px;
}

#eng p {
  padding-top:30px;
}

.piece:hover {
  color:blue;
  border-top: 8px solid lightblue;
}

.selectable {
  color:green;
  border-top: 8px solid green;
  cursor: pointer;
}

.piece.selected {
  border-top:8px solid blue;
  color:blue;
}

p {
  font-size:22px;
}

.player {
  margin-top:50px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.player .rs-panel-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.player .rs-panel-body .rs-btn {
  margin-right:5px;
}

.text-container {
  margin-top:50px;
}

.right-panel .rs-panel-body {
  height: 820px;
  overflow: hidden;
}

.fixed {
  position: fixed;
  right:0
}